@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: hsl(246, 11%, 18%);
	--fg: hsl(0, 0%, 80%);
	--roboto: 'Roboto Condensed', sans-serif;
	--source-code: 'Source Code Pro', monospace;
}

[data-theme='green'] {
	--bgt: rgba(63, 80, 69, 0.7);
	background-color: transparent;
}

[data-theme='orange'] {
	--bgt: rgba(57, 50, 45, 0.7);
	background-color: transparent;
}

[data-theme='pink'] {
	/* 2c2124 */
	--bgt: rgba(44, 33, 36, 0.5);
	background-color: transparent;
}

body {
	background-color: transparent;
}
